PORT=3000
DB_URL=your_mongodb_url_here
NODE_ENV=development
INNGEST_EVENT_KEY=your_key_here
INNGEST_SIGNING_KEY=your_key_here
STREAM_API_KEY=your_key_here
STREAM_API_SECRET=your_key_here
CLERK_PUBLISHABLE_KEY=your_key_here
CLERK_SECRET_KEY=your_key_here
